.nomination_companies {
    position: relative;
    padding: 81px 0 136px 0;
    @include lg-devices {
        padding: 90px 0 140px 0;
    }
    @include md-devices {
        padding: 50px 0 140px 0;
    }
    @include sm-devices {
        padding: 30px 0 100px 0;
    }
    @include xs-devices {
        padding: 30px 0 100px 0;
    }
    &__inner {
        position: relative;
        .container {
            padding-left: 0;
            padding-right: 0;
            @include xs-devices {
                max-width: 263px !important;
            }
            @include sm-devices {
                max-width: 263px !important;
            }
        }
    }
    &__title {
        position: relative;
        font-family: $font-main;
        font-weight: 500;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
    }
}

.nomination_companies__wrapper {
    position: relative;
    padding: 50px 0 0 0;
    .socials-share {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #424242;
        min-height: 38px;
        @include sm-devices {
            justify-content: center;
            flex-wrap: nowrap;
        }
        @include xs-devices {
            justify-content: center;
            flex-wrap: nowrap;
        }
        .share {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            max-width: 97px;
            cursor: pointer;
            @include sm-devices {
                width: 100%;
            }
            @include xs-devices {
                width: 100%;
            }
            a {
                text-decoration: none;
                font-family: $font-main;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #fff;
                width: 100%;
                height: 100%;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .share__fb {
            margin: 0 64px 0 0;
            @include sm-devices {
                margin: 0 44px 0 44px;
            }
            @include xs-devices {
                margin: 0 44px 0 44px;
            }
        }
        .share__fb::before {
            content: "";
            position: absolute;
            top: calc(0% - 2px);
            left: calc(0% - 25px);
            background: url("../../../images/svg/share_fb.svg");
            width: 18px;
            height: 18px;
        }
        .share__tw::before {
            content: "";
            position: absolute;
            top: calc(0% - 2px);
            left: calc(0% - 25px);
            background: url("../../../images/svg/share_twitter.svg");
            width: 20px;
            height: 18px;
        }
    }
}

.nomination_companies__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 30px 0 0 0;
    .nomination_companies__list-card,
    .nominant__card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        max-width: 263px;
        min-width: 263px;
        min-height: 366px;
        border: 1px solid #424242;
        background: #070707;
        padding: 25px;
        margin: 0 29px 30px 0;
        &__header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .header__image {
                width: 100%;
                position: relative;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        &__body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 15px 0 0 0;
            .body__descr {
                font-family: $font-main;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                margin: 0 0 15px 0;
                a {
                    color: #fff;
                    font-family: inherit;
                    transition: 0.2s ease;
                    &:hover {
                        color: #d7d700;
                        text-decoration: none;
                        transition: 0.2s ease;
                    }
                }
            }
            progress {
                background-color: #cdcdcd;
                border: 0;
                width: 100%;
                height: 2px;
                border-radius: 2px;
            }

            progress::-webkit-progress-bar {
                background-color: #cdcdcd;
                border-radius: 2px;
            }

            progress::-webkit-progress-value {
                background: #d7d700;
                border-radius: 2px;
            }

            progress::-moz-progress-bar {
                background: #d7d700;
                border-radius: 2px;
            }
            .progress-value {
                display: block;
                margin: 0;
                padding: 10px 0 0 0;
                font-family: $font-main;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #fff;
            }
        }
        &__footer {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px 0 0 0;
            .thanks-message {
                font-family: $font-main;
                font-size: 14px;
                line-height: 16px;
                color: #fff;
                width: 100%;
                margin: 0;
                text-align: center;
            }
            .vote-btn {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                background: #d7d700;
                max-width: 213px;
                min-width: 213px;
                min-height: 60px;
                font-family: $font-main;
                font-size: 14px;
                line-height: 16px;
                font-weight: 400;
                color: #070707;
                transition: 0.2 ease;
                &.disabled {
                    pointer-events: none;
                    opacity: 0.7;
                }
                &:hover {
                    background: #efef00;
                    transition: 0.2 ease;
                }
            }
        }
    }
    .nomination_companies__list-card:nth-child(4n),
    .nominant__card:nth-child(4n) {
        margin-right: 0;
    }
    @include xs-devices {
        .nomination_companies__list-card,
        .nominant__card {
            margin-right: 0;
        }
        .nomination_companies__list-card:last-of-type,
        .nominant__card:last-of-type {
            margin-bottom: 0;
        }
    }
    @include sm-devices {
        .nomination_companies__list-card,
        .nominant__card {
            margin-right: 0;
        }
        .nomination_companies__list-card:last-of-type,
        .nominant__card:last-of-type {
            margin-bottom: 0;
        }
    }
    @include md-devices {
        .nomination_companies__list-card:nth-child(2n),
        .nominant__card:nth-child(2n) {
            margin-right: 0;
        }
    }
    @include lg-devices {
        .nomination_companies__list-card:nth-child(3n),
        .nominant__card:nth-child(3n) {
            margin-right: 0;
        }
    }
}
